body {
  margin-top: 0;
  padding: 0;
  background-color: #f4f4f4;
}

@font-face {
  font-family: toro;
  src: url(../../MUSIC/fonts/leaguespartan-bold.ttf) format("truetype");
}

@font-face {
  font-family: sanchez;
  src: url(../../MUSIC/fonts/Sanchezregular.otf);
}

@font-face {
    font-family: without;
    src: url(../../MUSIC/fonts/WithoutAltSans-Black.ttf)format("truetype");
}



.navbar-upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
}

.navbar{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.first-navbar{
    width: 10%;
    font-family: without;
}

.logout{
    width: 10%;
}

.logout a{
      text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 0.5%;
}

.navbar a{
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.addsong{
    width: 100vw;
    text-align: center;
    margin-top: 5%;
}

.addsong h1{
    font-family: Without;
}

.addsong form,.updatesongByID form , .deletesongByID form{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.addsong input,.updatesongByID input , .deletesongByID input{
    width: 20vw;
    height: 3vh;
}

.addsong button , .updatesongByID button , .deletesongByID button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border: none;
    color: wheat;
}

.showsongs{
    margin-top: 5%;
    width: 50vw;
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-left: 27%;
}

.showsongs h1{
   width: 100vw;
   text-align: center;
   font-family: without
}

.updatesongByID{
    width: 100vw;
    text-align: center;
    margin-top: 6%;
}

.deletesongByID {
    width: 100vw;
    text-align: center;
    margin-top: 6%;
}

.updatesongByID h1{
    font-family: without;
    text-align: center;
}



.deletesongByID h1{
    font-family: without;
    text-align: center;
}


table {
    width: 50vw;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

th {
    color: #f2f2f2;
    font-weight: bold;
    text-align: left;
    font-family: toro;
    background-color: black;
}

tr:hover {
    background-color: #f9f9f9;
}

